<footer>
  <div>
    <img src="logo.JPG" alt="Logo" class="Logo" style="margin-top: 3px;"> <br>
    <a href="https://m.facebook.com/61561026840119/" target="_blank"><img src="facebook-logo-2019.png" alt="Facebook" id="facebook"></a>
  </div>
    <div>
      <p> <a href="tel:+1 (571) 602-1077"  style="color: black !important;">+1 (571) 602-1077 </a><br> 9015 Centreville RD, Manassas, VA 20110 
        <br>  <a href="/es" class="text-black">Español</a> <br>
        <a href="/" class="text-black">English</a> </p>
    </div>

    <div id="copyright">
      <br><br><br><br><br><br><br>
      &copy; 2024 Inka Chef LLC
    </div>
  
</footer>