

<nav>
  <section class="nav-section"><a href="/menu" class="text-white link-underline link-underline-opacity-0">Menu</a></section>
  <section class="nav-section"> <img class="Logo" src="logo.JPG" alt="Logo"></section>
  <section class="nav-section"><a href="/contact" class="text-white link-underline link-underline-opacity-0">Contact</a></section>
</nav>