<nav>
  <section class="nav-section"><a href="/menues" class="text-white link-underline link-underline-opacity-0">Menú</a></section>
  <section class="nav-section"> <img class="Logo" src="logo.JPG" alt="Logo"></section>
  <section class="nav-section"><a href="/contactes" class="text-white link-underline link-underline-opacity-0">Contactanos</a></section>
</nav>