<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error Page</title>
</head>
<body>
  
  <h1>Sorry! Page Not Found. <a href="/">Go Back Home</a></h1>
  
</body>
</html>