<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inka Chef: Peruvian Cuisine | Home Español</title>
  <meta name="description" content="Inka Chef serves high quality and traditional plates in every order. Our mission is to show why Peruvian Cuisine is ranked among the best Cuisines globally.">
  <meta property="og:title" content="Inka Chef: Peruvian Cuisine | Español">
  <meta property="og:description" content="Inka Chef serves high quality and traditional plates in every order. Our mission is to show why Peruvian Cuisine is ranked among the best Cuisines globally."">
  <meta property="og:url" content="https://www.inkachef.com/es">
  <meta property="og:image" content="https://www.inkachef.com/logo.JPG">
  <meta property="og:site_name" content="Inka Chef: Peruvian Cuisine">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://www.inkachef.com/logo.JPG">
  <meta name="twitter:title" content="Inka Chef: Peruvian Cuisine | Español">
  <link rel="canonical" href="https://www.inkachef.com/es">
  <meta name="keywords" content="peruvian food, peruvian cuisine, peru, inka chef, peruvian restaurants, peruano, comida peruano">
  <%- include("./reusedFiles/Header.ejs") %>
</head>
<body>
  <%- include("./reusedFiles/NavbarES.ejs") %>



  <div class="container" id="PageLogo">
    <div class="wrapper" style="box-shadow: none;">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <img src="logo.JPG" alt="PageLogo">
        </div>
        <div class="col-6">
          <h1>INKA <br> CHEF</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="IpadPageLogo">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-6">
          <img src="logo.JPG" alt="PageLogo">
        </div>
        <div class="col-5">
          <h1>INKA <br> CHEF</h1>
        </div>
    </div>
  </div>

  <br><hr class="IpadLine" style="margin-bottom:50px;">
  <hr class="MobileLine">

<div class="container" id="MobilePapa">
  <div class="wrapper" >
    <div class="row">
      <div class="col-12">
        <img src="Real.png" alt="papaALa">
      </div>
    </div>
  </div>
</div>

<div class="container" id="MobileParagraph">
  <div class="wrapper" style="box-shadow: none;" >
    <div class="row">
      <div class="col-12">
        <p style="font-size: 19px">La cocina peruana está catalogada internacionalmente como 
          una de los mejores del mundo. Inka Chef sirve platos tradicionales 
          y de alta calidad en cada orden.</p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="MobileCeviche">
  <div class="wrapper" >
    <div class="row">
      <div class="col-12">
        <img src="Chupe.png" alt="Ceviche">
      </div>
    </div>
  </div>
</div>
  
<div class="container" id="MobileKabob">
  <div class="wrapper" >
    <div class="row">
      <div class="col-12">
        <img src="Sopa.png" alt="Kabob">
      </div>
    </div>
  </div>
</div>

<div class="container" id="MobileParagraph2">
  <div class="wrapper" style="box-shadow: none;">
    <div class="row">
      <div class="col-12">
        <p style="font-size: 19px">Acá, Peruanos Se Siente En Casa. </p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="MobileSachipapa">
  <div class="wrapper" >
    <div class="row">
      <div class="col-12">
        <img src="Ceviche.png" alt="Sachipapa">
      </div>
    </div>
  </div>
</div>

<!--   Ipad HTML   -->
   
<div class="container" id="IpadPapaCeviche" style="background-color: white;" >
  <div class="wrapper">
    <div class="row">
      <div class="col-6 bg-primary" >
        <img src="Real.png" alt="Papa Img">
      </div> 
      <div class="col-1"></div>
      <div class="col-5 bg-secondary">
        <img src="Sopa.png" alt="Ceviche" style="object-position: right bottom;">
      </div>
    </div>
  </div>
</div>

  <div class="container" id="IpadKabob">
    <div class="wrapper">
      <div class="row">
        <div class="col-4">
          <p style="font-size: 28px; padding-top: 20px;" id="PChere">La cocina peruana está catalogada internacionalmente como 
            una de los mejores del mundo. Inka Chef sirve platos tradicionales 
            y de alta calidad en cada orden.
          </p>
          <p  id="Ipadhere" style="padding-top: 10px;">La cocina peruana está catalogada internacionalmente como 
            una de los mejores del mundo. Inka Chef sirve platos tradicionales 
            y de alta calidad en cada orden.
          </p>
        </div>
        <div class="col-1"></div>
        <div class="col-7 bg-primary">
          <img src="Chupe.png" alt="Ceviche Img">
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="IpadKabob">
    <div class="wrapper">
      <div class="row">
        <div class="col-8 bg-primary">
          <img src="Ceviche.png" alt="Ceviche Img">
        </div><div class="col-1"></div>
        <div class="col-3" style=" position: relative;" >
          <p style="padding-top: 20px; font-size: 30px;" id="PChere">Acá, Peruanos Se Siente En Casa.
          </p>
          <p style="padding-top: 15px; font-size: 16px;" id="Ipadhere2">Acá, Peruanos Se Siente En Casa.
          </p>
          <div class="MiniMenu">
            <span style="font-size:20px;">Menú</span> <br>
            Papa a la Huancaina  <br>
            Empanadas <br> <br>
          <u>Tamales</u> <br>
          Pollo (Chicken) <br>
          Puerco (Pork) <br> . . . . . <br>
            
         <span style="font-size: 12px;"> Resto del Menú <a href="/menues" class="text-black">Aquí</a> </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  
 
  <%- include("./reusedFiles/Footer.ejs") %>
<script>
  
</script>

</body>
</html>