<!DOCTYPE html>
<html lang="en">
<head>
  <title> Inka Chef: Peruvian Cuisine | Menu</title>
  <meta name="description" content="Inka Chef serves high quality and traditional plates in every order. Our mission is to show why Peruvian Cuisine is ranked among the best Cuisines globally.">
  <meta property="og:title" content="Inka Chef: Peruvian Cuisine | Menu">
  <meta property="og:description" content="Inka Chef serves high quality and traditional plates in every order. Our mission is to show why Peruvian Cuisine is ranked among the best Cuisines globally."">
  <meta property="og:url" content="https://www.inkachef.com/menu">
  <meta property="og:image" content="https://www.inkachef.com/logo.JPG">
  <meta property="og:site_name" content="Inka Chef: Peruvian Cuisine">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://www.inkachef.com/logo.JPG">
  <meta name="twitter:title" content="Inka Chef: Peruvian Cuisine">
  <link rel="canonical" href="https://www.inkachef.com/menu">
  <meta name="keywords" content="peruvian food, peruvian cuisine, peru, inka chef, peruvian restaurants, peruano, comida peruano">
  <%- include("./reusedFiles/Header.ejs") %>
</head>
<body style="background-color: rgb(226, 219, 219);">

  <%- include("./reusedFiles/Navbar.ejs") %>


  <div class="container" style="padding-top: 30px;" id="MobileMenuTitle">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6" style="background-color: rgb(243, 159, 81); 
      height:70px; border: 2px solid black; box-shadow: 0px 1px 3px 2px black;">
        <h1><u>Menú</u></h1>
      </div>
    </div>
  </div>

  <div class="container app1">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <p>
          <h2 style="text-align: center;"><u>Appetizers</u></h2><br>
          Papa a la Huancaina . . $9.00 <br>
          Ocopa Arequipena . . . . $9.00 <br>
          Empanada de Carne . . . $5.00 <br> <br> 

          <h4><u>Tamales</u></h4>
          Pollo (Chicken) . . . . . . . $6.00 <br>
          Chancho (Pork) . . . . . $6.00 <br> <br>

          <h4><u>Causa</u></h4>
          Pollo (Chicken) . . . . . . . $9.00 <br>
          Atún (Tuna) . . . . . . . . . $9.00 <br>
          Camarón (Shrimp) . . . $10.99 <br>
          Trio de Causas . . . . $14.99
        </p>
      </div>
    </div>
  </div>

  <div class="container app1">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <p>
          <h2 style="text-align: center;"><u>Mariscos</u></h2>
          <h5 style="text-align: center; font-size: 13px; margin-top: -5px;">(Seafood)</h5>
          Ceviche de Pescado . . $16.00 <br> <br>
          Ceviche Mixto . . . . . $18.99 <br> <br>
          Tiradito crema <br> de aji amarillo . . . . . $17.00 <br> <br>
          Tiradito a las tres <br> cremas (Aceituna, Aji Amarillo, Rocoto) . . . $21.00 <br> <br>
          Duo Marino . . . . . . $22.00 <br>
          Trio Marino . . . . . . . $25.99 <br>
        </p>
      </div>
    </div>
  </div>

  <div class="container app1">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <p>
          <br>
          Arroz con Mariscos . . . $18.00 <br> <br>
          Causa Acevichada . . . . $14.00 <br> <br>
          Choritos a  la <br>Chalaca . . . . . . . . $12.99 <br>
          <h4><u>Leche de Tigre</u></h4>
          Al Aji Amarillo . . . . $15.00
          Clasica (Classic) . . . $14.00 <br>
          Inka Chef . . . . . . . $17.00<br>
          Rocoto . . . . . . . . . . $15.00 <br>

        </p>
      </div>
    </div>
  </div>


  <div class="container app1">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <p>
          <h2 style="text-align: center;"><u>Al Wok</u></h2>
          <h5 style="text-align: center; font-size: 13px; margin-top: -5px;">(On the wok)</h5>
          Lomo Saltado . . . . . . . $17.00 <br>
          Pollo Saltado . . . . . . . $15.00 <br><br>
          <h4><u>Chaufa</u></h4>
          Carne (Beef) . . . . . . $16.00 <br>
          Pollo (Chicken) . . . . . . $18.99 <br>
          Mariscos (Seafood) . . $17.00 <br>
          Especial (Carne, Pollo <br>y Mariscos) . . . . . $21.00 <br> <br>
        </p>
      </div>
    </div>
  </div>

  <div class="container app1">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <p>
          <br>
          <h4><u>Tallarin</u></h4>
          Saltado de Pollo . . . . $14.00 <br> <br>
          Saltado de Carne. . $12.99 <br> <br>
          Saltado Especial (Carne, Pollo y Camarónes) . . $15.00 <br> <br>
          Tallarines a la <br>Huancaina con Lomo . $14.00 <br>

        </p>
      </div>
    </div>
  </div>


  <div class="container app1">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <p>
          <h2 style="text-align: center;"><u>A La Carta</u></h2>
          <h5 style="text-align: center; font-size: 13px; margin-top: -5px;">(À La Carte)</h5>
          Anticucho con Rachi . . $15.99 <br> <br>
          Anticucho de <br>Corazon . . . . . . . $13.00 <br> <br>
          Bisteck a lo Pobre . . . . $18.00 <br> <br>
          Chupe de Camarónes . $17.00 <br> <br>
          Parihuela . . . . . . $21.00 <br> <br>
        </p>
      </div>
    </div>
  </div>

  <div class="container app1">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <p>
          <br>
          Pescado al Vapor . . . $15.00 <br> <br>
          Pescado a lo Macho . . $17.00<br> <br>
          Sopa a la Minuta . . . . $13.00 <br> <br>
          Sopa Criolla. . . . . . $13.00 <br> <br>
          Sudado de Pescado . $19.00 <br> <br>

        </p>
      </div>
    </div>
  </div>

  <div class="container app1">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <p>
          <br>
          <h4><u>Especiales Inka Chef</u></h4>
          Mostrito Broaster . . $17.00 <br>
          Pollo Broaster . . . . $15.00 <br>
          Salchipapa . . . . . . . $12.00 <br>
          Salchi Broaster . . . . $16.99 <br> <br>
          <h4><u>Bebidas (Drinks)</u></h4>
          Can Soda . . . . . . . $2.00 <br>
          Chicha Morada . . . . . $4.00 <br>
          Coffe . . . . . . . . . . . $2.00 <br>
          Inca Kola . . . . . . . . . $2.50 <br>
          Jugo de Manzana . . . $4.00 <br>
          Maracuya . . . . . . . . $4.00 <br>
          Water . . . . . . . . . $2.00

        </p>
      </div>
    </div>
  </div>

  <!--PC Menu -->

  <div class="container" style="padding-top: 60px;" id="IpadMenuTitle">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4" style="background-color: rgb(243, 159, 81); 
      height:110px; border: 2px solid black; box-shadow: 0px 1px 3px 2px black; text-align: center;">
        <h1 style=" margin-left: -10px; margin-top:10px;"><u>Menú</u></h1>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

  <div class="container Ipadapp1">
    <div class="row">
      <div class="col-1" style="background-color: none;"></div>
      <div class="col-5" style="box-shadow: -3px 4px 4px 3px black;">
        <p>
          <h2 style="text-align: center; font-size: 45px;"><u>Appetizers</u></h2><br>
          Papa a la Huancaina . . $9.00 <br>
          Ocopa Arequipena . . . . $9.00 <br>
          Empanada de Carne . . . . . $5.00 <br> <br>

          <h4><u>Tamales</u></h4>
          Pollo (Chicken) . . . . . . . $6.00 <br>
          Chancho (Pork) . . . . . . . . $6.00 <br> <br>

          <h4><u>Causa</u></h4>
          Pollo (Chicken) . . . . . . . $9.00 <br>
          Atún (Tuna) . . . . . . . . . $9.00 <br>
          Camarón (Shrimp) . . . $10.99 <br>
          Trio de Causas . . . . $14.99
        </p>
      </div> <div class="col-1" style="background-color: none;"></div>
      <div class="col-5" style="box-shadow: 3px 4px 4px 3px black;">
        <p>
          <h2 style="text-align: center; font-size: 45px;"><u>Especiales Inka Chef</u></h2><br>
          Mostrito Broaster . . $17.00 <br>
          Pollo Broaster . . . . $15.00 <br>
          Salchipapa . . . . . . . . . . $12.00 <br>
          Salchi Broaster . . . . . $16.99 <br> <br>

          <h4><u>Bebidas (Drinks)</u></h4>
          Can Soda . . . . . . . $2.00 <br>
          Chicha Morada . . . . . . . . $4.00 <br>
          Coffe . . . . . . . $2.00 <br>
          Inca Kola . . . . . . . . . $2.50 <br>
          Jugo de Manzana . . . $4.00 <br>
          Maracuya . . . . $4.00 <br>
          Water . . . . . $2
        </p>
      </div>
    </div>
  </div>

  <hr class="IpadLine">

  <div class="container Ipadapp1">
    <div class="row">
      <div class="col-1" style="background-color: none;"></div>
      <div class="col-5" style="box-shadow: -3px 4px 4px 3px black;">
        <p>
          <h2 style="text-align: center; font-size: 50px;"><u>Mariscos</u></h2>
          <h5 style="text-align: center; font-size: 30px; margin-top: -5px;">(Seafood)</h5> <br>
          Ceviche de Pescado . . $16.00 <br>
          Ceviche Mixto . . . . $18.99 <br> <br>
          Tiradito en crema <br> de aji amarillo . . . . . . $17.00 <br> <br>
          Tiradito a las tres <br> cremas (Aceitunas, Aji Amarillo, Rocoto) . . . $21.00 <br> <br>
          Duo Marino . . . . $22.00 <br>
          Trio Marino . . . . . . . $25.99 <br>
        </p>
      </div>
      <div class="col-1" style="background-color: none;"></div>
      <div class="col-5" style="box-shadow: 3px 4px 4px 3px black;" >
        <p>
          <br>
          Arroz con Mariscos . . . $18.00 <br> <br>
          Causa Acevichada . . . . $14.00 <br> <br>
          Choritos a la Chalaca . . $12.99 <br>
          <h4><u>Leche de Tigre</u></h4>
          Al Aji Amarillo . . . . $15.00 <br>
          Clasica (Classic) . . . . . $14.00 <br>
          Inka Chef . . . . . $17.00<br>
          Rocoto . . . . . . . . $15.00 <br>

        </p>
      </div>
    </div>
  </div>

  <hr class="IpadLine">

  <div class="container Ipadapp1">
    <div class="row">
      <div class="col-1" style="background-color: none;"></div>
      <div class="col-5" style="box-shadow: -3px 4px 4px 3px black;">
        <p>
          <h2 style="text-align: center; font-size: 50px;"><u>Al Wok</u></h2>
          <h5 style="text-align: center; font-size: 30px; margin-top: -5px;">(On the wok)</h5> <br>
          Lomo Saltado . . . . . . . . $17.00 <br>
          Pollo Saltado . . . . . . . $15.00 <br><br>
          <h4><u>Chaufa</u></h4>
          Carne (Beef) . . . . . . . . $16.00 <br>
          Pollo (Chicken) . . . . . . . . . $18.99 <br>
          Mariscos (Seafood) . . . . . . . $17.00 <br>
          Especial <br>(Carne, Pollo y Mariscos) . . $21.00 <br> <br>
        </p>
      </div>
      <div class="col-1" style="background-color: none;"></div>
      <div class="col-5" style="box-shadow: 3px 4px 4px 3px black;" >
        <p>
          <br>
          <h4><u>Tallarin</u></h4>
          Saltado de Pollo . . . . $14.00 <br> <br>
          Saltado de Carne. . $12.99 <br> <br>
          Saltado Especial <br> (Carne, Pollo y Camarónes) $15.00 <br> <br>
          Tallarines a la <br>Huancaina con Lomo . . $14.00 <br>

        </p>
      </div>
    </div>
  </div>

  <hr class="IpadLine">

  <div class="container Ipadapp1">
    <div class="row">
      <div class="col-1" style="background-color: none;"></div>
      <div class="col-5" style="box-shadow: -3px 4px 4px 3px black;">
        <p>
          <h2 style="text-align: center; font-size: 45px;"><u>A La Carta</u></h2>
          <h5 style="text-align: center; font-size: 28px; margin-top: -5px;">(À La Carte)</h5> <br>
          Anticucho con Rachi . . $15.99 <br> <br>
          Anticucho de Corazon . $13.00 <br> <br>
          Bisteck a lo Pobre . . . . $18.00 <br> <br>
          Chupe de Camarónes . $17.00 <br> <br>
          Parihuela . . . . . . $21.00 <br> <br>
          
          
        </p>
      </div>
      <div class="col-1" style="background-color: none;"></div>
      <div class="col-5" style="box-shadow: 3px 4px 4px 3px black;">
        <p>
          <br>
          Pescado al Vapor . . . $15.00 <br> <br>
          Pescado a lo Macho . . . $17.00<br> <br>
          Sopa a la Minuta . . . . $13.00 <br> <br>
          Sopa Criolla. . . . .$13.00 <br> <br>
          Sudado de Pescado . . . $19.00 <br> <br>
          

        </p>
      </div>
    </div>
  </div>

  

  <%- include("./reusedFiles/HomeButton.ejs") %>
  

  <%- include("./reusedFiles/Footer.ejs") %>
</body>
</html>